* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
}

main img{
    height: 200px;
    width: 300px;
}

footer{
    background-color:  #34495e;
    color: white;
    padding: 30px 0px;
    text-align: center;
}

.footer-links{
    margin: 20px 0px;
}

.footer-copyright{
    margin-top: 20px;
    color: #bdc3c7;
    font-size: 0.8em;
}

.footer-links a {
    color: #f39c12;
    text-decoration: none;
    margin: 0px 20px;
}

.footer-links a:hover{
    text-decoration: underline;
}